@import url('https://fonts.googleapis.com/css?family=Raleway');

* {
	font-family: 'Raleway';

}

.lendas_page {
	padding: 110px;

}

.info {
	color: #000;
	font-family: 'Raleway';
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	margin-top: 50px;
}


.titulo {
	font-size: 50px;
	line-height: 10px;
}

.titulo_cor {
	color: #c064c0;
}

.regiao {
	margin-top: 40px;
	font-size: 26px;
	line-height: 5px;
}

.origem {
	margin-top: 20px;
	line-height: 20px;
	max-width: 600px;
	font: bold;
}

.imagem {
	width: 320px;
	margin-left: 120px;
}

.texto {
	color: #000;
	font-size: 18px;
	text-align: justify;
	width: 100%;
	padding: 50px;
}

.topico {
	margin-top: 15px;
}

@media screen and (max-width: 760px) {


	.info {
		flex-direction: column;
	}

	.titulo {
		font-size: 38px;
	}

	.imagem {
		display: none;
	}

}


::-webkit-scrollbar {
	width: 13px;
}

::-webkit-scrollbar-track {
	border-radius: 15px;
	box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb {
	background: #fac031;
	border-radius: 15px;
}
